node_red/weather_data_flow.json
[
    {
        "id": "7e0c782c.ea6d58",
        "type": "tab",
        "label": "Weather Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2c1b61ec.250386",
        "type": "debug",
        "z": "7e0c782c.ea6d58",
        "name": "weather data debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "4e325d49.3d23ac",
        "type": "wunderground",
        "z": "7e0c782c.ea6d58",
        "name": "",
        "lon": "-84.3674710",
        "lat": "33.8509120",
        "city": "",
        "country": "",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "2c1b61ec.250386",
                "1535b23e.a5b7e6"
            ]
        ]
    },
    {
        "id": "4788e0d8.1a6198",
        "type": "comment",
        "z": "7e0c782c.ea6d58",
        "name": "General Weather Pipeline",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "d5b220e6.cec21",
        "type": "inject",
        "z": "7e0c782c.ea6d58",
        "name": "5 min interval",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "4e325d49.3d23ac"
            ]
        ]
    },
    {
        "id": "1535b23e.a5b7e6",
        "type": "function",
        "z": "7e0c782c.ea6d58",
        "name": "create sample insert",
        "func": "let new_data = {};\nnew_data.payload = msg.payload;\nnew_data.location = msg.location;\n//new_data.data = msg.data;\n//new_data.current = msg.data.current_observation;\nlet timestamp = JSON.stringify(msg.time).slice(1, -2);\nnode.log(\"Parsed timestamp: \" + timestamp);\nlet valueStr = JSON.stringify(new_data).replace(/\"\"/g,'\\\"');\n\nlet insert = `insert into sample(collector_id, timestamp, data) values (4, to_timestamp('${timestamp}', 'yyyy-mm-ddThh24:mi:ss.ms'), '${valueStr}')`;\nmsg.payload = insert;\n\nnode.log(\"Query: \" + insert)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "d1dac97d.e1c588",
                "1b4b87eb.b6c0f"
            ]
        ],
        "inputLabels": [
            "data_input"
        ],
        "outputLabels": [
            "select_input"
        ]
    },
    {
        "id": "d1dac97d.e1c588",
        "type": "debug",
        "z": "7e0c782c.ea6d58",
        "name": "insert debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "1b4b87eb.b6c0f",
        "type": "postgres",
        "z": "7e0c782c.ea6d58",
        "postgresdb": "352c769.67a628a",
        "name": "insert sample",
        "output": true,
        "outputs": 1,
        "x": 860,
        "y": 120,
        "wires": [
            [
                "8bc74eb8.5899a8"
            ]
        ]
    },
    {
        "id": "8bc74eb8.5899a8",
        "type": "debug",
        "z": "7e0c782c.ea6d58",
        "name": "db insert debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "352c769.67a628a",
        "type": "postgresdb",
        "z": "",
        "hostname": "db",
        "port": "5432",
        "db": "iot_data",
        "ssl": false
    }
]